.possibilities {
    margin-bottom: 67px;

    .row {
        row-gap: 20px;
    }

    h2 {
        text-align: center;
    }

    @include mediaTablet {
        .swiper1 {
            width: 80%;
            height: 400px;
        }
    }

    .opportunities__card{
        margin-left: auto;
        margin-right: auto;
    }

    .swiper1{
        margin-left: auto;
        margin-right: auto;

    }

    @include mediaMobile {
        .swiper1 {
            width: 90%;
            height: 400px;
        }
    }

    .chet {
        background-color: $secondary-light;
        box-shadow: $box-shadow-orange;
    }

    .nechet {
        background-color: $main-light;
        box-shadow: $box-shadow;
    }

    .possibilities__title {
        margin-bottom: 45px;
    }

    .card__name {
        font-size: 20px;
        font-weight: 500;
    }
}