
$Rubic: "Rubik", sans-serif;


$main: #4047E2;
$main-2: #6b64ff;
$main-light: #DFE1FF;

$secondary: #FCA206;
$secondary-light: #FFE1AD;

$light: #E5E5E5;
$dark: #3F3A51;
$gray: #8F99AC;
$white: #fff;


$box-shadow: 0 4px 15px rgba(64, 71, 226, 0.20);
$box-shadow-orange: 0 4px 15px #FFE1AD;




$tablet: 999px;
$mobile: 576px;